@media screen and (max-width: 720px) {
    main{
        padding: 0;
    }
    main .content{
        width: 100%;
    }

    table{
        width: 90%;
    }

    .pathologie-symptomes, .pathologie-details{
        display: block;
        width: 100%;
    }

    #rechercheForm, #filterForm{
        width: 70%;
    }

    #bloc_1,#bloc_2{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    header h1{
        font-size: 1.5em;
        line-height: 2em;
    }
    header h1::after{
        display: none;
    }
    header nav{
        display: none;
    }
    header nav.open{
        display: block;
        z-index: 50;
        position: absolute;
        top: 5.5rem;
        left: 0;
        width: 100vw;
    }
    header nav.open ul{
        text-align: left;
        padding: 0;
        box-shadow: 1px 1px 1px black;
    }
    header nav.open ul li{
        background-color: var(--secondary-bg-color);
        display: block;
        padding: 0.5em;
    }
    header nav.open ul li:hover{
        background-color: #4a4a4a;
    }
    header nav.open ul li a{
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    header .menu-icon{
        position: absolute;
        right: 0.3em;
        top: 0.1em;
        font-size: 4em;
        display: block;
        cursor: pointer;
    }
    header .menu-icon:after{
        content: '+';
    }
    header .menu-icon.expanded:after{
        content: '-';
    }

    header #login-form.open{
        display: initial;
        width: 93vw;
        margin: 0;
        margin-top: 0.5em;
    }

    #rechercheForm, #filterForm, .form{
        width: auto;
    }
    .filter label{
        display: inline-block;
    }

    footer{
        display: initial;
    }
    footer .footer-links ul{
        padding-left: 0;
    }
}