html, body{
    margin:0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

:root{
    --color: black;
    --width: 3;
}

.app{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.toolbar{
    margin: auto;
    height: 5%;
    max-width: 1000px;
    background-color: var(--secondary-bg-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar button, .toolbar input{
    max-height: 30px;
    height: 30px;
}

.toolbar .pen{
    margin: 0 1.5em;
}

.toolbar .pen-width{
    display: flex;
    align-items: center;
    justify-content: center;
}


.toolbar .pen-display-container{
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar #pen-display{
    border-radius: 50%;
    border:1px solid #333;

    background-color: var(--color);
    width: var(--width);
    height: var(--width);
}
.toolbar #pen-display.square{
    border-radius: 0;
}


.toolbar .pen-form-container{
    background-color: white;
    display: flex;
    padding: 5px;
    margin: 0 5px;
}

.toolbar .pen-form-container *{
    margin: 0 5px;
}

.toolbar .pen-form-container .pen-form-square{
    background-color: var(--color);
    width: 20px;
    height: 20px;
}

.toolbar .pen-form-container .pen-form-round{
    background-color: var(--color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#canvas{
    border: 1px solid #111;
    margin: auto;
    display: block;
    background-color: white;
}
