body, header h1 a, main, main .content,footer{
    color: black !important;
    background: none;
}

header{
    background: none;
}
header h1::after{
    display: none;
}
header nav{
    display: none;
}

.content form input,.content form label,.content form select, .content form button
.content .form input,.content .form label, .content .form select, .content .form button{
    display: none;
}

.content{
    background: none;
}
