/* ------------------------ FONTS ------------------------ */
@font-face{
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

/* ------------------------ BASE ------------------------ */
:root{
    --primary-bg-color: #0b5394;
    --primary-text-color: #fff;
    --secondary-bg-color: #0b5394;

    --content-bg-color: #fff;
    --content-text-color: #333;
}

html {
    height: 100%;
    padding:0;
    margin: 0;
}

body {
    padding:0;
    margin: 0;
    min-height: 100%;
    /*overflow-x: hidden;*/
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: Roboto, sans-serif;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.content a{
    color: var(--content-text-color);
    text-decoration: none;
}

input{
    display: inline-block;
    padding: 0.5em;
    background-color: white;
    color: var(--content-text-color);
    width: 80%;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 0;
}

input[type=submit]{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    box-sizing: content-box;
}

select, button{
    background-color: white;
    line-height: 1em;
    height: 2em;
    min-width: 10em;
}

#inscription input {
    font-size: 1.5em;
    width: 95%;
}


table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table tr th{
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    border: 1px solid var(--content-text-color);
    line-height: 2em;
}

table tbody tr:hover td:not(.plus-button){
    background-color: #eeeeee;
}

table tr td{
    border: 1px solid var(--content-text-color);
    line-height: 2em;
    padding: 0 1em;
    background-color: var(--content-bg-color);
}

/* ------------------------ HEADER ------------------------ */
header{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 0px 1em;
    min-height: 5.5rem;
}

header h1{
    font-family: Comfortaa, cursive;
    font-weight: normal;
    margin-bottom: 0;
}

header h1::after{
    background-image: url("../images/favicon.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    margin-left: 8px;
}

header nav ul{
    margin-top: 0;
    text-align: right;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 0.5em;
}

header nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

header .menu-icon{
    display: none;
}

/* ------------------------- FORM -------------------------- */

.errorMessage{
    padding: 0.5em;
    background: #efadad;
    color: #731515;
    border-radius: 5px;
}

/* ------------------------ SIGN IN ------------------------ */
#login-form{
    display: none;
}

#login-form.open{
    display: initial;
    text-align: left;
}

#login-form label,#inscription label{
    display: none;
}

.user-form{
    width: 16rem;
    background-color: white;
    color: #333;
    position: absolute;
    right: 0;
    margin: 1.6em 1em 0 0;
    padding: 0 1em;
    box-shadow: 0px 1px 5px #333;
}

.user-form form{

}

.user-form form input{
    width: 90%;
}

.user-form form p{
    margin: 0.5em 0;
}

.user-form a{
    color: #0b5394;
}

.user-form .inscription-msg{
    font-size: 12px;
}


/* ------------------------ MAIN ------------------------ */
main{
    background-color: #eeeeee;
    padding: 1rem 2rem;
}

main .content{
    background-color: var(--content-bg-color);
    color: var(--content-text-color);

    margin:auto;
    padding: 0.5em;
    background-color: #ddd;
    max-width: 1080px;
}

/* ------------------------ RECHERCHE ------------------------ */

#rechercheForm, #filterForm, .form{
    width: 50%;
    margin: auto;
    text-align: center;
}

table td.plus-button{
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    width: 50px;
    cursor: pointer;
}

table td.plus-button a{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: var(--primary-text-color);
}
table td.plus-button a span{display: none;}
table td.plus-button a::after{
    content: '+';
}
table td.plus-button a:hover::after{
    content: '>>';
}

#searchButton{
    display: inline;
    width: 2em;
    border: 1px solid var(--primary-bg-color);
}

/* ---------------------- PATHOLOGIE -----------------------*/
.pathologie-details, .pathologie-symptomes{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

/* ------------------------ FOOTER ------------------------ */
footer{
    padding: 0px 1em;
    min-height: 3rem;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .copyright{
    font-style: italic;
}

footer ul{
    display: inline-block;
}

footer ul li{
    display: inline-block;
    list-style: none;
}

footer .footer-links ul li:not(:last-child)::after{
    content: " - ";
}

/* ------------------------ FILTERS ------------------------ */
#filterForm {
	padding:30px;
}

.filter {
	padding:10px 20px;
	padding-right:50px;
	display:inline-block;
}

.filter label{
    width: 5em;
}

/* ------------------------ ACCUEIL ------------------------ */
#bloc_1 , #bloc_2 {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    margin: 5px;
}