{extends file="./base.html"}
{block name=titre}Accueil - {/block}
{block name=content}
<section id="bloc_1">
    <article>
        <h2>Acupuncture</h2>
        <p>
            L’acupuncture ou acuponcture1 (du latin médical du XVIIe siècle « acupunctura » formé de acus,
            « aiguille » et punctura, « piqûre ») est un système thérapeutique dont les origines
            historiques sont très liées avec la tradition médicale chinoise. L'acupuncture consiste
            en une stimulation de zones précises de l'épiderme : les « points d’acupuncture ».
            Les techniques de stimulation des points d’acupuncture sont effectuées avec des
            moyens divers : des aiguilles le plus souvent, mais aussi d'autres moyens physiques
            (mécaniques, électriques, magnétiques, thermiques, lumineux) ou physico-chimiques,
            voire d'autres méthodes alternatives dangereuses (apipuncture, apithérapie avec
            des piqûres d'abeille). <br>
            L'acupuncture ne s'est pas construite sur le savoir scientifique moderne et
            ses fondements sont considérés comme relevant de la pseudo-science. Cependant,
            des travaux réalisés depuis les années 1990 par des équipes de chercheurs tendent
            à montrer une efficacité relative, et ce grâce à des mécanismes neuropsychologiques
            avérés (effet placebo), ou neurophysiologiques réels, indiquant une efficacité
            notamment dans le traitement de la douleur. Le risque d'iatrogénie existe9, notamment
            par la transmission d'agents pathogènes si les conditions d'asepsie sont insuffisantes.
            L'utilisation de l'acupuncture a été critiquée sur le plan éthique lorsqu'elle se fait
            au détriment de traitements efficaces. <br>
            La pratique de l'acupuncture est attestée depuis plusieurs millénaires en Asie
            (en particulier en Inde, Chine, Corée et Japon). De par ses racines historiques,
            géographiques et culturelles, de ses conditions d’implantation en Occident, l’acupuncture
            n'intéresse pas seulement la médecine mais aussi l'anthropologie, l'histoire des sciences,
            l'épistémologie, la sociologie et ce depuis son introduction en Europe au XVIIe siècle.
            L'UNESCO l'a inscrite au patrimoine culturel immatériel de l'humanité le 16 novembre 2010.
        </p>
    </article>
</section><section id="bloc_2">
    <article>
        <h2>Limiter la perte de mémoire</h2>
        <p>
            Afin de limiter la perte de mémoire qui précède le développement de la déficience cognitive
            légère, ou trouble cognitif léger (MCI), des chercheurs chinois préconisent, dans une étude
            parue sur Acupuncture in Medicine, de suivre des séances régulière d’acuponcture. <br>

            Alternative aux médicaments en cas de troubles du sommeil, de dépendance au tabac ou à
            l’occasion de nausées, l’acuponcture offrirait en effet un meilleur taux d’efficacité
            clinique que la prise de nimopidine, une molécule souvent prescrite dans les cas de perte
            de mémoire. Associée aux traitements, elle améliorerait l’état des patients plus rapidement.
        </p>
    </article>
    <article>
        <h2>Yin et Yáng</h2>
        <p>
            Dans la médecine chinoise, l'équilibre entre yin (le corps physique) et yáng (énergie)
            conditionne l'état de santé de l'organisme. Ces deux concepts régissent les fondements
            théoriques de l'acupuncture. Ainsi, un excès de yin ou de yáng serait à l'origine de
            troubles divers. Selon le cas : douleur, inflammation, mal de tête, ou fatigue.
        </p>
    </article>
    <article>
        <h2>Qui sommes nous ?</h2>
        <p>
            L'équipe de projet est composée de 6 personnes : Julien DUCROT, Aubin DUGELET, Claire BEYLY, Charle MOREL,
            Elliot HUMBERT et Yann CAYRAC. <br>
            Nous pauvres esclaves du destin avons été réunis par la providence pour réaliser ce site sur l'acuponcture.
        </p>
    </article>
</section>
{/block}