{extends file="./base.html"}
{block name=titre}Inscription - {/block}
{block name=content}
    <h2>Inscription {if isset($errorMessage)} <output class="errorMessage">{$errorMessage}</output>{/if}</h2>

    <div id="inscription">
        <form method="post" action="/inscription">
            <p><label for="lastName">Nom</label><input type="text" id="lastName" name="lastName"  placeholder="Nom" required/></p>
            <p><label for="firstName">Prénom</label><input type="text" id="firstName" name="firstName" placeholder="Prénom" required/></p>
            <p><label for="email">Email</label><input type="email" id="email" name="email" placeholder="Adresse email" required/></p>
            <p><label for="password">Mot de passe</label><input type="password" id="password" name="password" placeholder="Mot de passe" required/></p>
            <p><label for="passwordConfirm">Confirmation mot de passe</label><input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmation du mot de passe" required/></p>
            <p><input type="submit" value="Valider"></p>
        </form>
    </div>
{/block}
