{extends file="./base.html"}
{block name=titre}Paint - {/block}
{block name=stylesheets}
<link rel="stylesheet" href="/public/css/paint.css">
{/block}
{block name=content}
<div class="app">
    <div class="toolbar">

        <div class="pen pen-color">
            <input id="pen-color-input" type="color" onchange="setColor(this)" name="" value="">
        </div>

        <div class="pen pen-form-container">
            <div class="pen-form-square" onclick="setForm('square')"></div>
            <div class="pen-form-round" onclick="setForm('round')"></div>
        </div>

        <div class="pen pen-width">
            <input id="pen-width-input" type="range" name="width" min="1" max="20" value="10" onchange="setWidth(this)">
        </div>

        <div class="pen">
            <div class="pen-display-container">
                <div id="pen-display"></div>
            </div>
        </div>

        <button type="button" name="button" onclick="clearCanvas()">Clear</button>
    </div>

    <canvas id="canvas" width="1000" height="500">Votre navigateur ne supporte pas les canvas</canvas>

</div>
{/block}
{block name=scripts}
<script type="application/javascript" src="/public/js/paint.js"></script>
{/block}