{extends file="./base.html"}
{block name=titre}Pathologies - {/block}
{block name=content}
		<div class="form">
			<h2 id="pathoTitle">Liste des pathologies</h2>
			<div class="filter">
				<label for="types">Type</label>
				<select id="types" onchange=filter()>
					<option value="empty"></option>
					{foreach $types as $type}
						<option value="{$type.type}">{$type.type}</option>
					{/foreach}
				</select>
			</div>

			<div class="filter">
				<label for="meridiens">Méridien</label>
				<select id="meridiens" onchange=filter()>
					<option value="empty"></option>
					{foreach $meridiens as $mer}
						<option value="{$mer.mer}">{$mer.mer}</option>
					{/foreach}
				</select>
			</div>

			<p><button type="button" onclick="resetFilters()">Annuler</button></p>
		</div>
	<table id="pathos" title="Liste des pathologies" aria-labelledby="pathoTitle">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Meridien</th>
				<th scope="col">Description</th>
				<th scope="col">Détails</th>
			</tr>
		</thead>
		<tbody>
		{foreach $pathologies as $patho}
			<tr class="{$patho->getType()} {$patho->getMer()}">
				<td>{$patho->getType()}</td>
				<td>{$patho->getMer()}</td>
				<td>{$patho->getDesc()}</td>
				<td class="plus-button"><a href="/pathologie/{$patho->getIdP()}" title="Pathologie {$patho->getIdP()} en détail" aria-label="Détail"></a></td>
			</tr>
		{/foreach}
		</tbody>
	</table>


<script type="application/javascript" src="/public/js/filtre.js"></script>
{/block}
