{extends file="./base.html"}
{block name=titre}Pathologies - {/block}
{block name=content}
    <section class="pathologie">
        {if isset($errorMessage) || !isset($patho)}
            <p>{$errorMessage}</p>
            <a href="/" title="Retour à l'accueil">Retour à l'accueil</a>
        {else}
            <h2 class="pathologie-title">Pathologie N° {$patho->getIdP()}</h2>
            <div class="pathologie-details">
                <ul>
                    <li><b>Type :</b> {$patho->getType()}</li>
                    <li><b>Méridien :</b> {$patho->getMer()}</li>
                    <li><b>Description :</b> {$patho->getDesc()}</li>
                </ul>
            </div>
            <div class="pathologie-symptomes">
                <p><b>Symptômes :</b></p>
                <ul>
                    {foreach $patho->getSymptomes() as $sympt}
                    <li>
                        {$sympt->getDesc()}
                    </li>
                    {/foreach}
                </ul>
            </div>
        {/if}
    </section>
{/block}