{extends file="./base.html"}
{block name=titre}Recherche - {/block}
{block name=content}

{if !isset($smarty.session.user)}
    <p>Vous devez vous connecter pour utiliser la recherche</p>
{else}
    <form id="rechercheForm" action="/search" method="post">
        <h2 id="title"><label for="searchInput">Rechercher une pathologie {if isset($searchInput)}: pour <b>{$searchInput}</b>{/if}</label></h2>
        <p><input type="text" name="searchInput" id="searchInput" placeholder="Poumon, méridien, vide..." {if isset($searchInput)}value="{$searchInput}"{/if} required="required"><input id="searchButton" type="submit" aria-label="submit" value=">"></p>
    </form>


    {if isset($pathos) && empty($pathos)}
        <p>Aucun résultat trouvé</p>
    {/if}
    {if isset($pathos) && !empty($pathos)}
    <table class="pathos-result" title="Pathologies recherchées" aria-labelledby="title">
        <thead>
            <tr>
                <th id="pathologie-type" scope="col">Type</th>
                <th id="pathologie-mer" scope="col">Meridien</th>
                <th id="pathologie-desc" scope="col">Description</th>
                <th id="pathologie-detail" scope="col">Détails</th>
            </tr>
        </thead>
        <tbody>
        {foreach $pathos as $patho}
            <tr>
                <td>{$patho->getType()}</td>
                <td>{$patho->getMer()}</td>
                <td>{$patho->getDesc()}</td>
                <td class="plus-button"><a href="/pathologie/{$patho->getIdP()}"><span>Détails</span></a></td>
            </tr>
        {/foreach}
        </tbody>
    </table>
    {/if}
{/if}
{/block}